<%= button_to food_likes_path(food), method: :delete, class: "btn btn-default btn-sm", remote: true do %>
  <div class="glyphicon glyphicon-heart" style="color:#ff0000" aria-hidden="true"></div>
  <%= @count_users %>
  <%#= image_tag "icon_red_heart.svg", :width => "15", :height => "15" %>
<% end %>