<div id="food-<%= food.id %>">
  <div class="food">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body" >
          <%= image_tag food.image.thumb.url, class: "img-responsive" %>
        </div>
        <div class="panel-footer">
          <div class="form-buttons">
            <div id="like_button-<%= food.id %>">
              <%= render 'likes/like', food: food %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= debug food %>