<div id="food-<%= food.id %>">
  <div class="food">
    <div class="card-deck">
      <div class="card"> 
        <div class="card-img-top" >
          <%= image_tag food.image.thumb.url, class: "img-responsive" %>
        </div>
        <div class="card-block">
        <div class="form-buttons">
        <div id="like_button-<%= food.id %>">
          <%= render 'likes/likes', food: food, like_counts: food.like_users.count %>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>