<div id="food-<%= food.id %>">
  <div class="photo">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="thumbnail">
        <%= image_tag food.image.to_s %>
      </div>
    </div>
  </div>
</div>