<div class="row">
  <% foods.each do |food| %>
    <div class="photo">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="thumbnail">
          <%= image_tag food.image.to_s %>
        </div>
      </div>
    </div>
  <% end %>
</div>