@charset "utf-8";

/*
 *= require rails_bootstrap_forms
 */

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 30px;
}

#form_submit {
  margin-top: 10px;
  margin-bottom: 10px;
}


.user_profile .nav {
  margin-top: 10px;
  margin-bottom: 15px;
}

.form-buttons div,
.form-buttons form {
  display: inline
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/* photo 
.photo .panel.panel-default {
  width: 300px;
  height: 360px;
  background-color: #fff;
  margin:auto;
}

.photo .panel-body {
  width: 300px;
  height: 300px;
  background-color: #fff;
  margin:auto;
}

.photo .panel-body img {
  height: 100%;
  width: 100%;
  margin:auto;
}

.photo .panel-footer {
  width: 300px;
  height: 60px;
  margin:auto;
}
*/