@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}

.navbar-header img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 30px;
}

/* upload */
.new_food {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new_food .form-control {
  margin-left: 10px;
}

/* user */
.user_food {
  margin-top: 15px;
  margin-bottom: 15px;
}

.user_profile div,
.user_profile form {
  display: inline
}

.user_profile {
  margin-top: 15px;
}

.user_profile .btn {
  color: #4b514e;
  border-color: #dbdbdb;
  box-shadow: none;
  padding: 5px 5px;
}

.user_profile .user_name {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
}

.nav-tabs {
  background-color: #f2f2f2;
  border-top-color: #f2f2f2;
  border-left-color: #f2f2f2;
  border-right-color: #f2f2f2;
}

.nav-tabs .nav-link.active {
  background-color: #f2f2f2;
  border-top-color: #f2f2f2;
  border-left-color: #f2f2f2;
  border-right-color: #f2f2f2;
  border-bottom: solid 3px #0275d8;
}

.nav-tabs .nav-link.active .nav_link_color {
  color: #0275d8;
}

.nav-tabs .nav_link_color {
  color: #4b514e;
}

/* Form */
.form-buttons div,
.form-buttons form {
  display: inline
}

/* Flash */
.alert-error {
    margin-top: 10px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    margin-top: 10px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    margin-top: 10px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    margin-top: 10px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/* Food */

.food .card {
  width: 100%;
  max-width: 600px;
  margin: 1em auto;
  height: auto;
}

.food .card-block {
   padding: 10px;
 }

.food .card-block .btn-outline-danger {
  border-style: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

/* Sign in / up */
.sign_in_form .card-header {
  color: #999;
  font-weight: 600;
}

.sign_in_form {
  margin-top: 30px;
}

.sign_in_form .line {
  margin-top: 10px;
}